.value {
    color: #337ab7;
}

#accordian > div > h4.judul-page > b {
    color: #337ab7;
    text-align: start;
    text-decoration: underline;
}

body
    > section
    > div
    > div
    > div.col-sm-3.padding-right
    > div
    > div.container-order {
    /* border: 0.2px solid #777572; */
    border: 1px solid rgb(105, 103, 99, 0.1);
    line-height: 1.42857143;
    box-sizing: border-box;
    padding: 5px;
}

body > section > div > div > div.col-sm-3.padding-right > div > div > p {
    color: #1654a3;
    font-size: 15px;
    font-weight: bold;
    text-align: start;
}

body
    > section
    > div
    > div
    > div.col-sm-3.padding-right
    > div
    > div
    > div
    > div.col-sm-8
    > p {
    color: #1654a3;
    font-size: 12px;
    font-weight: bold;
    text-align: start;
    margin: 0 0;
}

#delKeranjang a:hover {
    text-decoration: none;
}
